@import '../../theme.scss';
@import '../../mixins.scss';

.app__menu {
  color: $colorWhite;
  max-width: $siteWidth;
  position: relative;

  a {
    background-color: $colorBackgroundMenu;
    color: inherit;
    display: block;
    padding: $spacerStandard / 2;
    position: relative;
    transition: background-color 0.08s ease-in-out;
    text-decoration: none;

    &:hover {
      background-color: rgba(lighten($colorBackgroundMenu, 10%), 1);
      border-radius: 4px;
      text-decoration: none;
    }
  }

  + div {
    height: 0;
  }
}

.app__menu-button {
  height: $buttonWidth;
  left: $spacerStandard;
  position: relative;
  right: auto;
  top: $spacerStandard;
  width: 30px;

  @media (min-width: map-get($breakpoints, 'desktop')) {
    height: 40px;
    width: 40px;
  }
}

.bm-item {
  @include font-step-up-2;
  font-weight: 600;
  position: relative;
  z-index: 3;
}

.bm-burger-bars {
  background: $colorWhite;
  border-radius: 3px;
  width: 100%;
}

.bm-menu {
  background-color: $colorBackgroundMenu;
  background-position: center bottom;
  background-repeat: no-repeat;
  font-size: 1.15em;
  padding: 2.5em 1.5em 0;
  position: relative;

  button.bm-item {
    background: transparent;
    border: 0;
    height: $buttonWidth;
    left: $spacerStandard / 2;
    padding: 0;
    position: absolute;
    top: $spacerStandard / 2;
    width: $buttonWidth;

    svg {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
