@import '../../theme.scss';
@import '../../mixins.scss';

.app__menu {
  color: $colorWhite;
  max-width: 500px;
  position: relative;

  a {
    color: inherit;
    display: block;
    padding: $spacerStandard / 2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  > div {
    height: 0;
  }
}

.app__menu-button {
  height: 20px;
  left: $spacerStandard;
  position: relative;
  right: auto;
  top: $spacerStandard;
  width: 30px;

  @media (min-width: map-get($breakpoints, 'desktop')) {
    height: 40px;
    width: 40px;
  }
}

.bm-burger-bars {
  background: $colorWhite;
  border-radius: 3px;
  width: 100%;
}

.bm-menu {
  background: $colorMenuBackground;
  font-size: 1.15em;
  padding: 2.5em 1.5em 0;
}
