@import '../../theme.scss';
@import '../../mixins.scss';

.categoryDetail {
  background: $colorWhite;
  display: flex;
  flex-direction: column;
  padding: $spacerStandard * 2;
}

.categoryDetail__close-button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  height: $buttonWidth;
  margin-left: auto;
  padding: 0;
  width: $buttonWidth;

  path {
    stroke: $colorSoftBlack;
  }
}

.categoryDetail__header {
  align-items: center;
  display: flex;
  flex-flow: column;
  text-align: center;

  @media (min-width: map-get($breakpoints, 'tablet')) {
    flex-flow: row;
    justify-content: center;
    margin-bottom: $spacerStandard * 2;
    margin-right: auto;
    text-align: left;
  }
}

.categoryDetail__title {
  @include header-font;
  color: $colorSoftBlack;
  display: inline-block;
  font-weight: 300;
  margin-bottom: $spacerStandard / 2;

  @media (min-width: map-get($breakpoints, 'tablet')) {
    @include font-step-up-3;
    margin-bottom: 0;
  }
}

.categoryDetail__desc {
  @import '../../rich-text';
  color: $colorSoftBlack;
  flex-basis: 100%;
}

.categoryDetail__image {
  content: '';
  display: block;
  height: 80px;
  margin: 0 auto $spacerStandard;
  width: 80px;

  @media (min-width: map-get($breakpoints, 'tablet')) {
    margin: 0 0 0 ($spacerStandard * 2);
    height: 60px;
    width: 60px;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}
