@import '../../theme.scss';
@import '../../mixins.scss';

.search {
  margin-bottom: $spacerStandard;

  label {
    @include screenreaderOnly;
  }

  input {
    @include font-step-up-1;
    border: none;
    font: inherit;
    padding: $spacerStandard;
    width: calc(100% - #{$spacerStandard * 2});
  }
}

.search__list {
  padding: 0;
}

.search__item {
  background: $colorWhite;
  border-bottom: $colorBorderLight;
  display: block;
  list-style: none;
  margin: 0;
  padding: $spacerStandard;
}
