@mixin screenreaderOnly {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin font-base {
  font-size: 17px;
  line-height: 25px;
}

@mixin font-step-up-1 {
  font-size: 20px;
  line-height: 30px;
}
