@mixin screenreaderOnly {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin font-step-down-1 {
  font-size: 14px;
  line-height: 20px;
}

@mixin font-base {
  font-size: 17px;
  line-height: 25px;
}

@mixin font-step-up-1 {
  font-size: 20px;
  line-height: 30px;
}

@mixin font-step-up-2 {
  font-size: 26px;
  line-height: 33px;
}

@mixin header-font {
  @include font-step-up-2;
  font-weight: 700;
  margin: 0 0 ($spacerStandard / 2);
  text-transform: uppercase;
}
