$siteWidth: 600px;
$buttonWidth: 25px;
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorSoftBlack: #2e2e2e;
$colorBackground: #FFFFFF;
$colorTextBody: #000111;
$colorTextLight: #CCC;
$colorTextLinks: #336699;
$colorBorderLight: #EEEEEE;
$colorBackgroundMenu: #4CA090;
$colorBackgroundHeader: #FED9A8;
$colorBackgroundInput: #E2F1EF;
$colorBackgroundInputDark: #B7D1CD;
$spacerStandard: 1em;

$breakpoints:(
  phone: 320px,
  large-phone: 530px,
  tablet: 782px,
  desktop: 900px,
  large-desktop: 1147px,
);
