$siteWidth: 600px;

$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorBackground: #FFFFFF;
$colorTextBody: #000111;
$colorTextLight: #CCC;
$colorBorderLight: #EEEEEE;
$colorBackgroundMenu: #4CA090;
$colorBackgroundHeader: #FED9A8;
$spacerStandard: 1em;

$breakpoints:(
  phone: 320px,
  large-phone: 530px,
  tablet: 782px,
  desktop: 900px,
  large-desktop: 1147px,
);
