@import './theme.scss';
@import './mixins.scss';

body {
  background: $colorBackground;
  color: $colorTextBody;
  overflow-x: hidden;
}

.app {
  @include font-base;
  margin: 1em auto;
  max-width: $siteWidth;
}

.app__results {
  font-weight: 700;
}

.app__recyclable {
  list-style: none;
}

.linkButton {
  background: $colorBackgroundInput;
  border: 1px solid $colorBackgroundInputDark;
  display: table;
  margin: 0 auto;
  padding: $spacerStandard;
}
