@import './theme.scss';
@import './mixins.scss';

body {
  background: $colorBackground;
  color: $colorTextBody;
  overflow-x: hidden;
}

.app {
  @include font-base;
  margin: 1em auto;
  max-width: $siteWidth;
}

.app__results {
  font-weight: 700;
}

.app__recyclable {
  list-style: none;
}

.app__categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.app__category {
  background: $colorWhite;
  cursor: pointer;
  flex-basis: 100%;
  list-style: none;
  margin-bottom: 1em;

  @media (min-width: map-get($breakpoints, 'tablet')) {
    flex-basis: calc((100% / 2) - #{$spacerStandard / 2});
  }
}

.app__category-wrapper {
  padding: $spacerStandard;
  width: 100%
}
